body{
    font-family: "Brush Script MT", cursive;
    background-color: rgb(119, 60, 174);
}
p{
    background-color: rgb(95, 231, 231);
    width: fit-content;
    border-radius: 0.2em;
    border: 1px solid rgb(0, 221, 255);
    font-size: 2em;
}

ul, li{
    color: white;
    font-size: 1.3em;
}
input{
    border: 2px solid black;
}
#num {
    width: 20%;
    height: 3vh;
    font-size: 1.5em;
}